body {
    margin: 0;
    padding: 0;
}
header {
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
#container {
    font-family: sans-serif;
    padding: 0 15px;
}