*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'fontawesome';
    src:url('fontawesome.eot') format('embedded-opentype'),
    url('fontawesome.woff') format('woff'),
    url('fontawesome.ttf') format('truetype');
    font-style: normal;
}
    
.topzera{
    font-family: 'fontawesome';
}
#w3s{
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin-bottom: 10px;
}   
#com{
    color: #4CAF50;
    font-size: 37px;
    letter-spacing: 3px;
}
.direito {
    position: relative;
    overflow: auto;
    float: right;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    margin-top: 15px;
}
.nav{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2)
}
.nav > ul{
    background-color: #4CAF50;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    display: relative;
}

.nav > ul> li{
    float: left;
    list-style: none;  
    margin-bottom: 20px;  
    padding-left: 20px;
    padding-top: 15px;
}
.nav > ul > li >  a{
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    margin-top: 5px;
}
.nav > ul > li > a:hover{
    background-color: white;
    color:black;
}
.dropdown{
    float: left;
}

.dropdown-content{
    position: absolute;
    background-color: #ddd;
    width: 150px;
    /* padding: 20px; */
    /* font-size: 20px; */
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown .dropdown-button{
    float:none;
}

.nav > ul > li > a:hover, .dropdown .dropdown-button:hover{
    background-color: white;
}

.dropdown-content > ul{
    list-style: none;
    position: absolute;
    background-color: #eee;
    width: 100vw;
    height: 100vw;
}

.dropdown-content > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.dropdown-content > ul > li > a:hover{
    background-color: #ddd;
}

.navega2 > ul{
    list-style: none;
    margin: 10px;
    padding: 5px;
}

.navega2 >ul> li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navega2 ul li a:hover{
    background-color: #ccc;
    cursor: pointer;
}
.navega2{
    background-color: white;
    box-shadow: 2px, 0px, 3px rgba(0, 0, 0, 0.2);
    width: 200px;
}
