*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'fontawesome';
    src:url('fontawesome.eot') format('embedded-opentype'),
    url('fontawesome.woff') format('woff'),
    url('fontawesome.ttf') format('truetype');
    font-style: normal;
}
    
.topzera{
    font-family: 'fontawesome';
}
.mundo > ul{
    background-color: #4CAF50;
    overflow: auto;
    padding: 30px;
}

.mundo > ul > li{
    float: left;
    list-style: none;    
}
.mundo > ul > li > a{
    padding: 20px;
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}